body {
	margin: 0;
	background-color: #F5F5F7;
}
header {
	height: 113px;
	background-color: #0A0A0A;
}
a {
	text-decoration: none;
} 
.container-all {
	width: 1200px;
	margin: 0 auto;
}
.foot {
	height: 150px;
}
.foot, nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav {
	height: 113px;
}
.navigation-group {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.logo {
	background-image: url(images/логотип.png);
	width: 39.06px;
	height: 47.76px;
	margin-right: 137px;
}
.text {
	font-family: "Inter";
}
.nav-text {
	color: #717171;
	font-size: 24px;
	font-weight: 400;
}
.section-1 {
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
h1 {
	color: #490E84;
	font-size: 64px;
	font-weight: 700;
}
.image-1 {
	background-image: url(images/фото1.png);
	width: 937px;
	height: 657px;
	margin-bottom: 25px;
}
.button-1 {
	background-color: #490E84;
	font-size: 24px;
	font-weight: 700;
	padding: 21px 118px;
	border-radius: 30px;
	border: #490E84 solid 1px;
	cursor: pointer;
	margin-bottom: 40px;
}
.button-1 a {
	color: #FFFFFF;
}
h2 {
	width: 100%;
	font-size: 32px;
	color: #717171;
	font-weight: 700;
	text-align: center;
	background-color: #FFFFFF;
	padding-top: 87px;
	padding-bottom: 50px;
	margin: 0;
}
.group-2 {
	width: 46.6%;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
}
.image-2 {
	background-image: url(images/фото2.png);
	width: 350px;
	height: 370px;
}
.section-2-3 {
	align-items: center;
	justify-content: space-around;
	padding-bottom: 63px;
}
.section-2-3, .section-4 {
	width: 100%;
	display: flex;
	background-color: #FFFFFF;
}
.section-4 {
	justify-content: center;
	padding-top: 87px;
}
.text-14 {
	font-size: 14px;
	font-weight: 400;
}
.text-20 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
}
.img-color-1, .img-color-2, .img-color-3, .img-color-4 {
	width: 240px;
	height: 320px;
	border-radius: 30px;
}
.img-color-1 {
	background-image: url(images/серебристый.png);
}
.img-color-1:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}
.img-color-2:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}
.img-color-3:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}
.img-color-4:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}
.img-color-2 {
	background-image: url(images/фиолетовый.png);
}
.img-color-3 {
	background-image: url(images/золотой.png);
}
.img-color-4 {
	background-image: url(images/черный.png);
}
.color-1, .color-2, .color-3, .color-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.img-3, form {
	width: 600px;
	height: 600px;
}
.img-3 {
	background-image: url(images/фото3.png);
}
form {
	background-color: #574B63;
}
form ::placeholder, span {
	color: #FFFFFF;
	opacity: 0.5;
}
span {
	display: block;
	margin-top: 30px;
	margin-left: 115px;
}
input {
	border: none;
 border-bottom: 1px solid #F5F5F5;
 background-color: transparent;
 outline: none;
	width: 400px;
	margin-left: 99px;
	vertical-align: middle;
	text-align: left;
 padding: 20px 20px 20px 0;
}
.form-head {
	font-weight: 700;
	font-size: 32px;
	color: #FFFFFF;
	padding: 137px 94px 52px 93px;
	margin: 0;
}
.button-2 {
	margin-top: 30px;
	margin-left: 179px;
	width: 240px;
	height: 50px;
	border: #FFFFFF 1px solid;
	background-color: #FFFFFF;
	font-weight: 700;
	color: #490E84;
	margin-left: 179px;
	border-radius: 30px;
	cursor: pointer;
}
.button-2:hover {
	filter: brightness(85%);
	transition-duration: 0.8s;
}
footer {
	background-color: #0A0A0A;
}