body {
	margin: -1rem;
}
header {
	height: 113px;
	background-color: #0A0A0A;
}
.container-all {
	min-width: 300px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 113px;
}

.navigation-group {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.logo {
	background-image: url(images/логотип.png);
	width: 39.06px;
	height: 47.76px;
	margin-right: 137px;
}
.nav-text {
	color: #717171;
	font-size: 24px;
	font-family: "Inter";
	font-weight: 400;
}

